button{

border: 0;
padding: 10px;
border-radius: 8px;
cursor: pointer;


}

.green{background: #1edd05;
    color: #000;
    font-size: 0.8rem;}

.red{
    background: red;
    color: #fff;
    font-size: 0.8rem;
}

.right-button{
    width: 4rem;
   
}